<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>밥먹고 뭐하니?</title>

  <div id="header">
    <a href="/"><img src="/img/logo.jpg" height="100" width="200"/></a>
  </div>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}
</style>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="#news">News</a>
  <a href="/contactUs">Contact</a>
  <div class="topnav-right">
    <a href="/aboutUs">About</a>
    <a href="/login">log-in</a>
  </div>
</div>

</head>
<body>

  <style>
  * {
    box-sizing:border-box;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container {
    padding: 64px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  .large-font {
    font-size: 48px;
  }

  .xlarge-font {
    font-size: 64px
  }

  .button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
  }

  </style>



<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/img/face.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>ㅇㅇㅇ</h2>
        <p class="title">밥먹고뭐하니?</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/face.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>ㅇㅇㅇ</h2>
        <p class="title">밥먹고뭐하니?</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/face.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>ㅇㅇㅇ</h2>
        <p class="title">밥먹고뭐하니?</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/face.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>ㅇㅇㅇ</h2>
        <p class="title">밥먹고뭐하니?</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

</div>

</body>
</html>
