	<hr>
	<br>
  	<h2 style="margin-left:10%">
		<a href="/main">
			분석현황
		</a>
	</h2>
	<br>
	<h2 style="margin-left:10%"> 
		<a href="/contracts">
			전체 계약서
		</a>
	</h2>
	<h3 style="margin-left:10%; font-size: 21px;" >
		<a href="/continuing">
			&nbsp&nbsp&nbsp- 진행 중인 계약서
		</a>
	</h3>
	<h3 style="margin-left:10%; font-size: 21px;">
		<a href="/expired">
			&nbsp&nbsp&nbsp- 완료된 계약서
		</a>
	</h3>
	<br><br>
	<h2 style="margin-left:10%">
		<a href="/trashcan">
			휴지통
		</a>
	</h2>
	<br>
	<h2 style="margin-left:10%">
		<a href="/auth/logout">
			로그아웃
		</a>
	</h2>
</nav>


