<a href="/" class="logo_top" >
	<img src="/img/ddd.png" class="logo"/>
	
 </a>
 
 <nav class="aaa"> 
	<span class="info_txt">당신의 계약서를 분석해보세요  &nbsp &nbsp</span>
	<span> <a href="/auth/login">LOGIN</a></span>
	<span>&nbsp&nbsp&nbsp</span>
 </nav>